div.text {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black; 
}

div.instigator div.author {
  float: left;
}

div.instigator div.rounded {
  margin-left: 100px;
  margin-right: 40px;
}

div.instigator div.comment div.rounded {
  margin-left: 70px;
  margin-right: 20px;
}

div.challenger div.author {
  float: right;
}

div.challenger div.rounded {
  margin-right: 100px;
  margin-left: 40px;
}

div.pub_date {
  float: left;
}

div.debate_entry {
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.comment {
  margin: 20px;
}

div.instigator div.comment {
  margin-left: 100px;
}

div.challenger div.comment {
  margin-right: 100px;
}

a.comment_link {
  float: right;
}
 
div.user_head {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
 
div.user_head#instigator {
  float: left;
}

div.user_head#challenger {
  float: right
}

div.points {
  color: green;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
}
