<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{MEDIA_URL}}/static/reset.css" />
    <link rel="stylesheet" href="{{MEDIA_URL}}/static/style.css" />
    <title>{% block title %}Debately{% endblock %}</title>
</head>

<body>
    <div id="header">
      <div id="user_box">
	{% if user.is_authenticated %}
	<a href="/users/{{ user.username }}">{{user.username}}</a>&nbsp;|&nbsp; 
	<a href="/logout">logout</a>
	{% else %}
	<a href="/login">login</a>
	{% endif %}
      </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
    </div>
</body>
</html>
