{% extends "base.html" %}

{% block title %}{{ debate.title }}{% endblock %}

{% block content %}
<h1>{{ debate.title }}</h1>
<div class="user_head" id="instigator">
  <a href="/users/{{ debate.instigator.username }}">{{ debate.instigator.username }}</a>
  <div class="points">{{ instigatorpoints }}</div> Debate Points
</div>
<div class="user_head" id="challenger">
  <a href="/users/{{ debate.challenger.username }}">{{ debate.challenger.username }}</a>
  <div class="points">{{ challengerpoints }}</div> Debate Points
</div>
<div class="debate_summary">{{ debate.summary }}</div>
{% for entry in entries %}
  <div class="debate_entry">
    <div class="author">{{ entry.author }}</div>
    <div class="pub_date">{{ entry.pub_date }}</div>
    <p class="text">{{ entry.text }}</p>
    {% if userCanComment %}
      <a href="/entries/{{ entry.id }}/comment">New Comment</a>
    {% endif %}
  </div>
{% endfor %}
{% if userCanPostEntry %}
    <form method="POST">
        {{ entryForm }}
        <input type="submit" />
    </form>
{% endif %}
{% endblock %}
