{% extends "debately_base.html" %}
{% load avatars %}

{% block title %}{{ debate.title }}{% endblock %}

{% block content %}
<h1>{{ debate.title }}</h1>
<div class="debate_summary">{{ debate.summary }}</div>
<div class="user_head" id="instigator">
  <a href="/users/{{ debate.instigator.username }}">{{ debate.instigator.username }}</a>
  <div class="points">{{ instigatorpoints }}</div> Debate Points
</div>
<div class="user_head" id="challenger">
  <a href="/users/{{ debate.challenger.username }}">{{ debate.challenger.username }}</a>
  <div class="points">{{ challengerpoints }}</div> Debate Points
</div>
{% for entry in entries %}
  <div class="debate_entry {{ entry.author_role }}">
    <div class="author">
      {% avatar entry.author %}<br />
      {{ entry.author }}
    </div>
    <div class="text">{{ entry.text }}
    <div class="pub_date">{{ entry.pub_date }}</div>
    {% if userCanComment %}
      <a class="comment_link" href="/entries/{{ entry.id }}/comment">New Comment</a>
    {% endif %}
    </div>
    {% for comment in entry.comments %}
    <div class="clear"></div>
      <div class="comment">
        <div class="author">
            {% smallavatar comment.author %}<br />
            {{ comment.author }}
        </div>
        <div class="text">
            {{ comment.text }}
            <div class="pub_date">{{ comment.pub_date }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
{% if userCanPostEntry %}
    <form method="POST">
        {{ entryForm }}
        <input type="submit" />
    </form>
{% endif %}
{% endblock %}
