{% extends "debately_base.html" %}
{% load avatars %}

{% block title %}{{ debate.title }}{% endblock %}

{% block content %}
<h1>{{ debate.title }}</h1>
<div class="debate_summary">{{ debate.summary }}</div>
<div class="user_head" id="instigator">
  <a href="/users/{{ debate.instigator.username }}">{{ debate.instigator.username }}</a>
  <div class="points">{{ instigatorpoints }}</div> Debate Points
</div>
<div class="user_head" id="challenger">
  <a href="/users/{{ debate.challenger.username }}">{{ debate.challenger.username }}</a>
  <div class="points">{{ challengerpoints }}</div> Debate Points
</div>
{% for entry in entries %}
  <div class="debate_entry {{ entry.author_role }} bubble">
    <div class="clear"></div>
    <div class="author">
      {% avatar entry.author %}<br />
      {{ entry.author }}
    </div>
    <div class="rounded">
        <div class="text">
        {{ entry.text }}
        </div>
        <div class="pub_date">{{ entry.pub_date }}</div>
        {% if userCanComment %}
          <a class="comment_link" href="/entries/{{ entry.id }}/comment">New Comment</a>
        {% endif %}
        <div class="clear"></div>
    </div>
    {% for comment in entry.comments %}
      <div class="comment">
        <div class="clear"></div>
        <div class="author">
            {% smallavatar comment.author %}<br />
            {{ comment.author }}
        </div>
        <div class="rounded">
            <div class="text">
                {{ comment.text }}
            </div>
            <div class="pub_date">{{ comment.pub_date }}</div>
            <div class="clear"></div>
         </div>
      </div>
    {% endfor %}
    <div class="clear"></div>
  </div>
{% endfor %}
{% if userCanPostEntry %}
    <form method="POST">
        {{ entryForm }}
        <input type="submit" />
    </form>
{% endif %}
{% endblock %}
